#Persistence service URLs
persistence.service.product.create.url=http://PERSISTENCE-SERVICE/product/create
persistence.service.product.update.url=http://PERSISTENCE-SERVICE/product/update

#Number of maximum working threads for async processing - these are worker threads that will hit db service
async.thread.max=10
async.call.timeout=1000
async.read.all.timeout=60000

#EhCache configuration
data.cache.name=dataCache
data.cache.capacity=500000000

#Data cache object time to live and time to idle depends on how rapidly data is changing at DB. Here i am assuming that product will not in DB for next 5 mins
#Time in seconds
data.cache.idle.time=120
data.cache.live.time=300

#Persistent cache size 200MB
data.cache.persistence.size=200
data.cache.persistence.directory=./cache


#Persistence service URLs
persistence.service.product.create.url=http://PERSISTENCE-SERVICE/product/create
persistence.service.product.update.url=http://PERSISTENCE-SERVICE/product/update
persistence.service.product.delete.url=http://PERSISTENCE-SERVICE/product/delete/{id}
persistence.service.product.read.url=http://PERSISTENCE-SERVICE/product/read/{id}
persistence.service.product.readall.url=http://PERSISTENCE-SERVICE/product/read/all
persistence.service.product.stat.url=http://PERSISTENCE-SERVICE/product/stat/day/{date}