#Custom system configuration

#RabbitMQ names
queue.rabbit.name=product-queue
exchange.rabbit.name=product-exchange

#min number of consumers
consumer.thread.min=1
#max number of consumers
consumer.thread.max=10


#Persistence service URLs
persistence.service.product.create.url=http://PERSISTENCE-SERVICE/product/create
persistence.service.product.update.url=http://PERSISTENCE-SERVICE/product/update


#EhCache configuration
cache.name=requestCache
cache.capacity=5000000
#Time in seconds
cache.idle.time=30
cache.live.time=60